/.settings
/testOutput
/.classpath
/.gitignore
/.project
/omtd-simple-wokflows-dkpro/.settings
/omtd-simple-wokflows-dkpro/*.classpath
/omtd-simple-wokflows-dkpro/*.project
/omtd-simple-wokflows-dkpro/target
